<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Awards" lan="LAN_AWARDS" version="1.0" date="2018-05-04" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="https://github.com/laochexe" />
	<summary lan="">create, and give user awards</summary>
	<description lan="">Create you're own awards, and assign them to users on you're website.</description>
	<keywords>
		<word>gaming</word>
		<word>awards</word>
		<word>stats</word>
	</keywords>
	<category>users</category>
	<copyright>LaocheXeCopyRight</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	
</e107Plugin>