<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Awards eXeSystem" lan="LAN_AWARDS" version="1.0" date="2018-05-04" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="https://github.com/laochexe" />
	<summary lan="">Create, and give user awards</summary>
	<description lan="">Create you're own awards, and assign them to users on you're website.</description>
	<keywords>
		<word>gaming</word>
		<word>awards</word>
		<word>stats</word>
	</keywords>
	<category>users</category>
	<copyright>GNU General Public License v2</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" icon128="images/icon_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	
</e107Plugin>