.r-title {
	padding: 15px;	
}
.ninePad {
    padding: 9px;
}

.r_container {
	border: 1px solid #dcdcdc;
}

.clear {
    clear: both;
}

r-clearfix {
	
}

td {
    padding: 3px;
	margin: 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

.rList_data li {
    padding: 6px;
    line-height: 1.3;
}

.rList_data li {
    border-bottom: 1px solid #f3f3f3;
}

.rList_data .row_title, .rList_data .ft {
    display: inline-block;
    float: left;
    width: 120px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.rList_data .row_data {
    display: inline-block;
}

.r-title {
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	position: relative;
}

.table_tpr {
    float: left;
    width: 50%;
    table-layout: fixed;
    border-spacing: 5px 0px;
    border-collapse: separate;
}

#table_container {
    width: 100%;
    margin: 0 auto;
}

.table_loa {

    float: left;
    width: 50%;
    table-layout: fixed;
    border-spacing: 5px 0px;
    border-collapse: separate;

}

.information tr {
	text-align: center;
}

.information th {
	border-bottom: 1px solid #f3f3f3;
	text-align: center;
	font-weight: bold;
	padding: 6px;
}

.bar {
	box-shadow: none;
	border-radius: 0;	
}

.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #ccc;
}

.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.collapsible:after {
	content: '\02795';
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}