<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Roster Systems" lan="LAN_XXX" version="0.1" date="2017-07-18" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="https://github.com/laochexe" />
	<summary lan="">rsystems is a set of plugins combine into one</summary>
	<description lan="">RSystems was built for the 501st Legion for ArmA 3 starsim unit. This plugin was built to help manage a team roster, and other aspects.</description>
	<keywords>
		<word>gaming</word>
		<word>roster</word>
		<word>application</word>
	</keywords>
	<category>users</category>
	<copyright>LaocheXeCopyRight</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
		<link url="admin_config2.php" description="" icon="" iconSmall="" icon128="" primary="false" >LAN_CONFIGURE</link>
		<link url="admin_config3.php" description="" icon="" iconSmall="" icon128="" primary="false" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='CShops'>0</pref>
		<pref name='Roster'>0</pref>
		<pref name='Promotions'>0</pref>
		<pref name='Request'>0</pref>
		<pref name='ServiceR'>0</pref>
		<pref name='Awards'>0</pref>
		<pref name='Qualifications'>0</pref>
		<pref name='Ranks'>0</pref>
		<pref name='LOA'>0</pref>
		<pref name='Status'>0</pref>
		<pref name='Postitions'>0</pref>
		<pref name='Applications'>0</pref>
		<pref name='Memoral'>0</pref>
	</pluginPrefs>
</e107Plugin>